/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.loading {
  font-size: 24px;
  font-weight: bold;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h2 {
  margin-bottom: 20px;
}

.meal-options {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.meal-card {
  padding: 20px 40px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 18px;
  font-weight: bold;
}

.meal-card:hover {
  transform: translateY(-5px);
}

.meal-card.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.submit-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

.App nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.App nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.App nav a:hover {
  text-decoration: underline;
}

.loading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transactions-table th,
.transactions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transactions-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.mark-as-paid-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mark-as-paid-button:hover {
  background-color: #218838;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
